* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header {
height: 80px;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: white;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
}
.list-container {
list-style: none;
display: flex;
gap: 35px;
font-weight: bold;
font-size: 22px;
}
.list-container li {
cursor: pointer;
transition: 0.3s;
}
.list-container li:hover {
transform: scale(1.1);
}
.list-container a {text-decoration: none;
color: black;
}
#welcome {
background-color: #f8f8f8;
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
padding-top: 100px;
}
.contact-icons {
display: flex;
flex-direction: column;
gap: 25px;
width: 50px;
a {
height: 20px;
} i
{
color: black;
cursor: pointer;
}
i:hover {
font-size: 20px;
}
}
.personal-details {
display: flex;
flex-direction: column;
gap: 20px;
}
.name {font-size: 50px;
}
.role {
margin-left: 25px;
}
.hello-button {
background-color: black;
color: white;
width: 150px;
border: none;
border-radius: 15px;
padding: 15px;
font-size: 20px;
cursor: pointer;
}
.photo-welcome {
border-radius: 50%;
height: 200px;
width: 200px;
}
.skill-image {
height: 50px;
width: 50px;
object-fit: contain;
}
#skills {
background-color: #f8f8f8;
display: flex;
justify-content: center;
align-items: center;
padding-top: 100px;
flex-direction: column;
}
.skills-header {display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 50px;
h1 {
font-size: 45px;
margin-bottom: 10px;
} p
{
opacity: 0.5;
font-size: 20px;
}
}
.skill-card-container {
display: flex;
width: 900px;
flex-wrap: wrap;
gap: 30px;
margin-bottom: 100px;
}
.skill-card {
height: 150px;
width: 150px;
background-color: white;
padding: 35px 20px;
box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
border-radius: 25px;
}
.java-icon {i {
font-size: 50px;
}
}
.skill-card:hover {
transform: translateY(-20px);
transition: ease-in 0.5s;
cursor: pointer;
}
.education {
    background-color: rgba(50, 47, 47, 0.147);
    height: 400px;
     flex-direction: column;
    gap: 60px;

}
.studies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.ssc {
    
}